# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=""

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# Firebase Configuration
VITE_FIREBASE_PROJECT_ID="effortless-cider-dsjh2"
VITE_FIREBASE_APP_ID="1:306814363513:web:7314552f5a516f5805f1a8"
VITE_FIREBASE_API_KEY="AIzaSyDgYzyweL8TxKFgRAGtQKbat_TQloRwpkM"
VITE_FIREBASE_AUTH_DOMAIN="effortless-cider-dsjh2.firebaseapp.com"
VITE_FIREBASE_STORAGE_BUCKET="effortless-cider-dsjh2.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="306814363513"
VITE_FIREBASE_MEASUREMENT_ID=""
